@import "~antd/dist/antd.css";
@import "@ant-design/pro-table/dist/table.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&family=Roboto:wght@100;300;400;700;900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600&family=Roboto+Mono:wght@100;200;300;400;500&family=Roboto:wght@100;300;400;700;900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

/* Global variables */
:root {
  --main-hdr-color: rgb(34, 49, 63);
  --main-cont-color: #f0f2f5;
  --main-menu-border-color: #1890ff;
}

/* No need to explicitly set these settings since Antd already sets them
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*/

*,
*::after,
*::before {
  font-family: Roboto, Montserrat, "Roboto Mono";
}
